-- ============================================================
-- Solar Utility Database Schema
-- PostgreSQL
-- ============================================================

-- ============================================================
-- 1. Solar Locations
-- ============================================================

CREATE TABLE IF NOT EXISTS solar_locations (
    location_id INTEGER PRIMARY KEY,
    location_name VARCHAR(150) NOT NULL,
    created_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    modified_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    created_by VARCHAR(100) DEFAULT 'system',
    modified_by VARCHAR(100) DEFAULT 'system'
);


-- ============================================================
-- 2. Solar Daily Generation Summary
-- ============================================================

CREATE TABLE IF NOT EXISTS solar_daily_summary (
    summary_id SERIAL PRIMARY KEY,
    location_id INTEGER,
    log_date DATE NOT NULL,
    generation_kwh NUMERIC(15,4) NOT NULL,

    CONSTRAINT solar_daily_summary_location_id_log_date_key
        UNIQUE (location_id, log_date),

    CONSTRAINT solar_daily_summary_location_id_fkey
        FOREIGN KEY (location_id)
        REFERENCES solar_locations(location_id)
);


-- ============================================================
-- 3. Solar 15-Minute Telemetry Logs
-- ============================================================

CREATE TABLE IF NOT EXISTS solar_time_logs (
    log_id SERIAL PRIMARY KEY,
    location_id INTEGER,
    log_date DATE NOT NULL,
    log_timestamp TIME NOT NULL,

    kwh NUMERIC(12,6),
    kvah NUMERIC(12,6),
    kvar NUMERIC(12,6),
    kva NUMERIC(12,6),
    current NUMERIC(8,2),
    power_factor NUMERIC(8,2),

    CONSTRAINT solar_time_logs_location_id_log_date_log_timestamp_key
        UNIQUE (location_id, log_date, log_timestamp),

    CONSTRAINT solar_time_logs_location_id_fkey
        FOREIGN KEY (location_id)
        REFERENCES solar_locations(location_id)
);


-- ============================================================
-- 4. Weather Reports
-- ============================================================

CREATE TABLE IF NOT EXISTS weather_report (
    report_id SERIAL PRIMARY KEY,
    log_timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    location_name VARCHAR(100) NOT NULL,
    current_condition VARCHAR(50) NOT NULL,
    temperature_celsius INTEGER NOT NULL,
    feels_like_celsius INTEGER NOT NULL,
    humidity_percentage INTEGER NOT NULL,
    wind_speed_mph INTEGER NOT NULL,
    precipitation_chance INTEGER NOT NULL
);


-- ============================================================
-- Database Schema Complete
-- ============================================================